html {
    font-family: Nunito, sans-serif;
    background-color: white;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.2em;
}
p, body {
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    padding: 0;
}
form p{
    width: 70%;
    margin-left: 15%;
}
label {
    display: inline;
    padding-left: 0.25em;
    margin: 0;
}
legend {
    text-align: center;
    background-color: #56CCF2;
    color: #333333;
}
section {
    display: block;
}
.create-post-btn {
    text-align: center;
    background-color: #56CCF2;
    display: block;
    width: 10%;
    min-width: 10em;
    height: 2em;
    vertical-align: center;
    margin: 0.5em 40% 0 40%;
}
.cancel-btn {
    text-align: center;
    background-color: #4F4F4F;
    color: #F2F2F2;
    display: block;
    width: 10%;
    min-width: 10em;
    height: 2em;
    vertical-align: center;
    margin: 0.5em 40% 0 40%;
}
.cancel-btn:hover {
    text-align: center;
    background-color: #4F4F4F;
    color: #F2F2F2;
    display: block;
    width: 10%;
    min-width: 10em;
    height: 2em;
    vertical-align: center;
    margin: 0.5em 40% 0 40%;
}
.input {
    background-color: #E0E0E0;
    resize: none;
}
.post {
    background-color: rgba(86, 204, 242, 0.3);
    border-radius: 5px;
    padding: 1em;
    margin: 2em;
    width: 90%;
}

.post-author {
    color: #2F80ED;
}

.post-body {
    color: #4F4F4F;
    padding: 0.25em;
}

.post-category {
    color: #828282;
    float: left;
}

.post-date {
    color: #828282;
    float: right;
}

.post-meta-info {
    border-bottom: 1px solid #56CCF2;
    padding: 0.25em;
    height: 5em;
}
.post-title {
    color: #4F4F4F;
}
.comments{
    margin: 2em;
    padding: 1em;
    width: 90%;
}
.comment{
    background-color: #F2F2F2;
    border-radius: 5px;
    padding: 0.5em;
    margin: 1em;
}
.comment-author {
    color: #2F80ED;
    display: inline;
}
.comment-body {
color: #4F4F4F;
}
.comment-date {
    color: #828282;
    float: right;
    display: inline;
}
.comment-post {
    background-color: #C4C4C4;
    display: block;
    float: right;
    position: relative;
    right: 2%;
    bottom: 3em;
    height: 2.4em;
    width: 5em;
}
.comment-text {
    width: 98.5%;
    margin: 0 0.25em 0 0.25em;
    resize: none;
}
.make-comment {
    background-color: rgba(111, 207, 151, 0.5);
    color: #4F4F4F;
    border-radius: 5px;
    width: 90%;
}
