.submit{
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    text-align: center;
    background-color: #56CCF2;
    color: #333333;
}

form a{
    display: block;
    clear:left;
    margin-top: 0.5em;
    text-align: center;
}
form{
    border-radius: 5px;
    background-color: rgba(86, 204, 242, 0.3);
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    margin-top: 1em;
    padding: 2em 2em 2em 2em;
}

.content{
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

}

h2{
    margin-top: 2em;
    color: #2F80ED;
}


#username{
    color: #2F80ED;
}

#user-posts{
    margin-top: 3em;
}



